.cara-container{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.main{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.cara-container {
    width: 100%;
    height: 700px;
    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-inner {
    margin-top: 20px;
    height: 43vw;
}
.cara-container{
    height: 43vw;
}
.active {
    padding: 0;
}
.carousel-indicators [data-bs-target]{
    background-color: black;
} 
.carousel-indicators {
    margin-bottom: 0.5rem;
}
.carousel-control-next {
    width: 5%;
}
.carousel-control-prev {
    width: 5%;
}
.carousel-control-next:hover{
    background: linear-gradient(-90deg, #aaaaaa 0%, rgba(255, 255, 255, 0) 90%);
}
.carousel-control-prev:hover{
    background: linear-gradient(90deg, #aaaaaa 0%, rgb(255, 255, 255, 0) 90%);
}

.description-container {
    display: flex;
    flex-direction: column;
    color: black;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content:center;
    padding-left: 10px; 
}
.desc-header {
    letter-spacing: 0.5px;
    line-height: 0.9;
    font-size: 70px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}
.desc-info {
    font-size: 20px;
    text-align: center;
}
.cara-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.shop-btn button{
    all: unset;
    padding: 15px 40px;
    font-size: 30px;
    font-weight: 300;
    color: white;
    border-radius: 10px;
    background-color: #0096C7;
    transition: background-color 400ms;
    cursor: pointer;
}
.shop-btn button:hover {
    background-color: #5dadc8;
}
.shop-btn button:active {
    background-color: rgb(86, 142, 161);
}
.photo {
    margin-left: 10px;
}
.photo-img {
    /* height: 680px; */
    width: 70vw;
    height: auto;
}


/* Products on main page */
.product-main-container {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0px;
}

.product-main-description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-main-header {
    font-size: 60px;
    cursor:default;
    position: relative;
}
.product-main-header::after{
    margin-left: 50px;
    background-color: #a3a3a3;
    width: 70%;
    align-self: center;
    height: 3px;
    left: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transition: transform 1000ms;
    transform: scaleX(0);
}
.product-main-description:hover .product-main-header::after {
    transform: scaleX(1);
}

.product-main-shop-btn{
    margin-top: 30px;
}
.product-photo:hover .product-photo-img {
    translate: -20px -10px;
}

.product-photo-img {
    width: 500px;
    transition: translate 500ms;
}

.notification-container {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    font-size: 30px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px black solid;
}

.shownoti {
    display: flex !important;
    animation: slidein 800ms linear !important;
}

@keyframes slidein {
    from {
        opacity: 0.5;
        right: -500px;
    }
    to {
        opacity: 1;
        right: 20px;
    }
}

@media only screen and (max-width:900px){
    /* carousel */
    .carousel-inner {
        height: 120vw;
    }
    .cara-container {
        flex-direction: column;
        height: 120vw;
        margin: 0;
    }

    .description-container {
        margin: 0;
        text-align: center;
    }
    .desc-header {
        font-size: 50px;
    }
    .desc-info{
        font-size: 15px;
    }
    .cara-btn {
        margin-top: 10px;
    }
    .shop-btn button{
        padding: 10px 20px;
        font-size: 20px;
    }
    .photo {
        margin: 0;
        margin-top: 20px;
    }
    .photo-img {
        width: 100vw;
        height: auto;
    }


    /* Products */
    .product-main-container {
        flex-direction: column-reverse;
        height: auto;
    }
    .product-photo-img {
        width: 200px;
    }
    .product-main-header {
        font-size: 30px;
        text-align: center;
    }
    .column-rev {
        flex-direction: column;
    }
    .carousel-indicators{
        bottom: -40px;
    } 
} 
