.productdesc-container {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px;
    flex-wrap: wrap;
}

.productimg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.productimg img {
    height: 600px;
}

.productdesc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
    margin-top: 50px;
}

.productheading {
    font-size: 40px;
    margin: 25px;
}

.productabout {
    font-size: 15px;
    margin: 20px;
}

.productprice {
    font-size: 30px;
    margin: 20px;
}

.productbuttons button{
    all: unset;
    font-size: 15px;
    margin: 20px;
    padding: 15px 40px;
    font-weight: 400;
    color: white;
    border-radius: 10px;
    background-color: #0096C7;
    transition: background-color 400ms;
    cursor: pointer;
}

.productbuttons button:hover {
    background-color: #5dadc8;
}
.productbuttons button:active {
    background-color: rgb(86, 142, 161);
}