.search-main-container {
    min-height: 52vh;
}
.searchbar-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.searchbar-container h1{
    font-weight: 500;
    font-size: 60px;
}
.searchbar-container input{
    all: unset;
    height: 30px;
    background-color: #F0F0F0;
    padding: 20px;
    width: 40vw;
    border-radius: 10px 0px 0px 10px;
    font-size: 20px;
    text-align: center;
}
form {
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.searchbar-container img{
    width: 30px;
}
.search-btn {
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    background-color: #60b9d7;
}
.search-results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.plate {
    width: 600px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name {
    font-size: 30px;
}
.product-image img{
    width: 400px;
    border-radius: 20px;
    transition: translate 500ms;
}
.plate:hover .product-image img{
    translate: -20px -10px;
}
.hide {
    display: none;
}
@media only screen and (max-width:900px){
    .searchbar-container{
        padding: 20px;
    }
    .searchbar-container h1{
        font-weight: 400;
        font-size: 40px;
    }
    .searchbar-container input{
        height: 10px;
        width: 60vw;
        font-size: 17px;
    }
    form {
        margin-top: 10px;
    }
    .search-btn{
        height: 50px;
        padding: 0px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .searchbar-container img{
        width: 20px;
        height: auto;
        padding: 0;
    }
    .name {
        font-size: 25px;
    }
    .plate {
        padding: 20px;
        width: 380px;
    }
    .product-image img{
        width: 320px;
        border-radius: 20px;
    }
}